* {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

header,
footer {
    background-color: #1f2937;
    color: #F9FAF8;
}

#hero-top {
    margin: 0 200px;
    padding: 20px 0;
}

h2 {
    display: inline-block;
    width: 150px;
    height: 25px;
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    color: #F9FAF8;
    width: 350px;
    font-weight: bolder;
}

nav {
    float: right;
}

li {
    display: inline;
    padding-right: 20px;
    list-style: none;

}

#hero-1 {
    display: inline-block;
    margin: 150px 200px;
    padding-bottom: 80px;
}

#hero-1 p {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
    margin-top: 10px;
}

#hero-1 button {
    margin-top: 20px;
    background-color: #3882F6;
    color: white;
    padding: 10px 30px;
    border-style: none;
    border-radius: 12px;
    transition-duration: 0.4s;
}

#hero-1 button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.img-place-holder {
    display:inline-block;
    position: relative;
    bottom: 60px;
    left: 155px;
    background-color: grey;
    padding: 150px 200px
}

a {
    font-size: 18px;
    text-decoration: none;
}

a:link {
    color: #E5E7EB;
}

a:visited {
    color: #E5E7EB;
}

a:hover {
    color: #E5E7EB;
}

main {
    margin: 0 200px;
}

.tag1 {
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    font-size: 36px;
    color: #1f2937;
    font-weight: bold;
}


.boxes-cards {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.box {
    border: 3px solid #3882F6;
    border-radius: 12px;
    padding: 50px;
    height: 50px;
    width: 50px;
}

.box-text {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.text {
    border: 3px solid black;
    width: 100px;

}